APP_ENV=production
COOKIE_SECURE=true
DB_HOST=192.168.5.204
DB_PORT=3306
DB_DATABASE=santilac_raw
DB_USERNAME=
DB_PASSWORD=

PROXMOX_URL=https://server:8006
PROXMOX_NODE=server
PROXMOX_TOKEN_ID=
PROXMOX_TOKEN_SECRET=
PROXMOX_CA_FILE=

HEALTH_TARGETS_JSON=[{"name":"Backend","url":"http://192.168.5.202/up"},{"name":"Processadores","url":"http://192.168.5.203:8080/health"}]

LARAVEL_LOG_PATH=/var/www/santilac-backend/storage/logs/laravel.log
